<a href="https://colab.research.google.com/github/AayushAnshu21/World_Happiness_Analysis/blob/master/World_Happiness_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# World Happiness Analysis

In this project I have anaysed the relation of world happiness index of various countries with that country's Economic condition, Freedom index , Government corruption , Life expectancy and Geographical location.

The csv file used in this analysis was taken from [Kaggle](https://www.kaggle.com/mathurinache/world-happiness-report). This project is part of the assignment for the course [Data Analysis with Python: Zero to Pandas](http://zerotopandas.com).

In [55]:
!git status

fatal: not a git repository (or any of the parent directories): .git

In [ ]:
project_name = "World_Happiness_Analysis"

## Data Preparation and Cleaning

We will import required libraries i.e  Pandas , Matplotlib and seaborn .We will also upload required csv file.

In [ ]:
import pandas as pd
from urllib.request import urlretrieve
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [ ]:
happiness_df = pd.read_csv('World_happiness_Index_2020.csv')
happiness_df.head(5)

  Country name  ... Dystopia + residual
0      Finland  ...            2.762835
1      Denmark  ...            2.432741
2  Switzerland  ...            2.350267
3      Iceland  ...            2.460688
4       Norway  ...            2.168266

[5 rows x 20 columns]

Now we will remove some colums from this dataset which are not required.

In [ ]:
happiness_df.drop(['upperwhisker', 'lowerwhisker','Standard error of ladder score'], axis = 1,inplace = True) 
happiness_df.drop(happiness_df.loc[:, 'Ladder score in Dystopia': ].columns, axis = 1,inplace = True) 
happiness_df.head(5)

  Country name Regional indicator  ...  Generosity  Perceptions of corruption
0      Finland     Western Europe  ...   -0.059482                   0.195445
1      Denmark     Western Europe  ...    0.066202                   0.168489
2  Switzerland     Western Europe  ...    0.105911                   0.303728
3      Iceland     Western Europe  ...    0.246944                   0.711710
4       Norway     Western Europe  ...    0.134533                   0.263218

[5 rows x 9 columns]

 **Statics of Given Datasets**

In [ ]:
happiness_df.describe()

       Ladder score  ...  Perceptions of corruption
count     153.00000  ...                 153.000000
mean        5.47324  ...                   0.733120
std         1.11227  ...                   0.175172
min         2.56690  ...                   0.109784
25%         4.72410  ...                   0.683019
50%         5.51500  ...                   0.783122
75%         6.22850  ...                   0.849151
max         7.80870  ...                   0.935585

[8 rows x 7 columns]

In [ ]:
happiness_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153 entries, 0 to 152
Data columns (total 9 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Country name                  153 non-null    object
 1   Regional indicator            153 non-null    object
 2   Ladder score                  153 non-null    float64
 3   Logged GDP per capita         153 non-null    float64
 4   Social support                153 non-null    float64
 5   Healthy life expectancy       153 non-null    float64
 6   Freedom to make life choices  153 non-null    float64
 7   Generosity                    153 non-null    float64
 8   Perceptions of corruption     153 non-null    float64
dtypes: float64(7), object(2)
memory usage: 10.9+ KB

## Exploratory Analysis and Visualization

TODO

## Asking and Answering Questions

TODO

## Inferences and Conclusion

TODO

## References and Future Work

TODO